<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tata.scripts.SignUp</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_DOB_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_USername_AS_Only_Special_Character_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Future_DOB_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Existing_Mobile_Number_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_SuccessUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_Mobile_Number_With_Spaces_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_Mobile_Number_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_Password_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_Username_With_Spaces_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Existing_USername_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
