<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>16/09/06 15:27:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp_SuccessUsecase()[pri:0, instance:com.tata.scripts.SignUp@724af044]">SignUp_SuccessUsecase</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>16/09/06 15:27:29</td>   <td>2286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp_With_Blank_DOB_FailureUsecase()[pri:6, instance:com.tata.scripts.SignUp@724af044]">SignUp_With_Blank_DOB_FailureUsecase</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>16/09/06 15:27:29</td>   <td>1830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp_With_Blank_Mobile_Number_FailureUsecase()[pri:4, instance:com.tata.scripts.SignUp@724af044]">SignUp_With_Blank_Mobile_Number_FailureUsecase</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>16/09/06 15:27:30</td>   <td>3469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp_With_Blank_Mobile_Number_With_Spaces_FailureUsecase()[pri:9, instance:com.tata.scripts.SignUp@724af044]">SignUp_With_Blank_Mobile_Number_With_Spaces_FailureUsecase</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>16/09/06 15:27:29</td>   <td>2075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp_With_Blank_Password_FailureUsecase()[pri:5, instance:com.tata.scripts.SignUp@724af044]">SignUp_With_Blank_Password_FailureUsecase</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>16/09/06 15:27:28</td>   <td>1603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp_With_Blank_Username_FailureUsecase()[pri:3, instance:com.tata.scripts.SignUp@724af044]">SignUp_With_Blank_Username_FailureUsecase</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>16/09/06 15:27:30</td>   <td>3249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp_With_Blank_Username_With_Spaces_FailureUsecase()[pri:8, instance:com.tata.scripts.SignUp@724af044]">SignUp_With_Blank_Username_With_Spaces_FailureUsecase</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>16/09/06 15:27:28</td>   <td>1356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp_With_Existing_Mobile_Number_FailureUsecase()[pri:2, instance:com.tata.scripts.SignUp@724af044]">SignUp_With_Existing_Mobile_Number_FailureUsecase</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>16/09/06 15:27:28</td>   <td>1131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp_With_Existing_USername_FailureUsecase()[pri:1, instance:com.tata.scripts.SignUp@724af044]">SignUp_With_Existing_USername_FailureUsecase</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>16/09/06 15:27:29</td>   <td>2605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp_With_Future_DOB_FailureUsecase()[pri:7, instance:com.tata.scripts.SignUp@724af044]">SignUp_With_Future_DOB_FailureUsecase</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>16/09/06 15:27:31</td>   <td>4098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp_With_USername_AS_Only_Special_Character_FailureUsecase()[pri:10, instance:com.tata.scripts.SignUp@724af044]">SignUp_With_USername_AS_Only_Special_Character_FailureUsecase</td> 
  <td>main@1418621776</td>   <td></td> </tr>
</table>
