<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tata.scripts.Login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Invalid_Password_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Min_length_Password_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Min_length_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Blank_Spaces_Password_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Alfha_Numeric_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Special_Character_Password_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Max_length_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Blank_Password_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Password_Characters_With_Spaces_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Username_Characters_With_Spaces_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Login_SuccessUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ALfha_Numeric_Password_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Invalid_Password_Given_In_Uppercase_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Blank_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Max_length_Password_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Special_Character_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Both_Blank_Password_And_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Blank_Spaces_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Both_Invalid_Password_And_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Invalid_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.tata.scripts.SignUp</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>USername_with_Space_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_USername_AS_Only_Special_Character_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_with_Max_Limit_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_Gender_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_SuccessUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_Password_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_FirstName_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Existing_USername_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_INVALID_Mobile_Number_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_DOB_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Future_DOB_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Existing_Mobile_Number_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_Mobile_Number_With_Spaces_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_ALFHA_Numeric_Mobile_Number_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_Mobile_Number_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_Username_With_Spaces_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SignUp_With_Blank_Username_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
